* {
  margin: 0 auto;
  padding: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}
a {
  color: #ffffff;
  text-decoration: none;
}
.big-block {
  background-image: url(img/bgc.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
}
.big-block .header {
  width: 100%;
}
.big-block .header .header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  border-bottom: 1px solid white;
  padding-top: 35px;
  padding-bottom: 35px;
}
.big-block .header .header-block .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 660px;
}
.big-block .header .header-block .block-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.big-block .header .header-block .block-search .english {
  margin-left: 10px;
}
.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 130px;
  width: 1112px;
  height: 449px;
}
.header-content .start {
  margin-left: 0;
  width: 535px;
  height: 274px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.header-content .start .expoforum-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 160%;
  text-transform: uppercase;
  color: #ffffff;
}
.header-content .start .kongress {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  color: #ffffff;
  margin-left: 43.7px;
}
.header-content .start .about {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 135%;
  color: #ffffff;
  margin-left: 43.7px;
  margin-top: 35px;
  text-decoration: none;
}
.header-content .end {
  margin-right: 0;
  margin-top: 160px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-auto-columns: auto;
  grid-gap: 30px;
}
.header-content .end .kalendar {
  background-color: #2378fc;
  padding: 30px 88px 30px 40px;
}
.header-content .end .kalendar .kalendar1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 130%;
  /* or 27px */
  letter-spacing: -0.01em;
  color: #ffffff;
}
.header-content .end .kalendar .kalendar-about {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 135%;
  margin-top: 15px;
  color: #ffffff;
}
.header-content .end .how {
  background-color: #30bcc9;
  width: 255px;
  padding: 30px 88px 30px 40px;
}
.header-content .end .how .how-go {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 130%;
  letter-spacing: 0, 1em;
  width: 175px;
  color: #ffffff;
  padding-bottom: 15px;
}
.header-content .end .how .how-about {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 135%;
  color: #ffffff;
}
.header-content .end .online {
  background-color: #ffc41e;
  width: 255px;
  height: 175px;
  padding: 30px 61px 30px 40px;
}
.header-content .end .online .online-zayavka {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 130%;
  letter-spacing: 0, 1em;
  width: 175px;
  color: #ffffff;
  padding-bottom: 15px;
}
.header-content .end .online .online-about {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 135%;
  color: #ffffff;
}
.header-content .end .plan {
  background-color: #f6404f;
  width: 255px;
  height: 175px;
  padding: 30px 61px 30px 40px;
}
.header-content .end .plan-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: , 1em;
  width: 175px;
  color: #ffffff;
  padding-bottom: 15px;
}
.header-content .end .plan-about {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 135%;
  color: #ffffff;
}
.blue-block {
  background-color: #2378fc;
  width: 100%;
  height: auto;
  padding-bottom: 75px;
  padding-top: 75px;
}
.blue-block .cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  width: 1114px;
}
.blue-block .cards-grid .cards1,
.blue-block .cards-grid .cards2,
.blue-block .cards-grid .cards3,
.blue-block .cards-grid .cards4 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.blue-block .cards-grid .cards1 .huita-head,
.blue-block .cards-grid .cards2 .huita-head,
.blue-block .cards-grid .cards3 .huita-head,
.blue-block .cards-grid .cards4 .huita-head {
  font-family: montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin-bottom: 30px;
}
.blue-block .cards-grid .cards1 .huita,
.blue-block .cards-grid .cards2 .huita,
.blue-block .cards-grid .cards3 .huita,
.blue-block .cards-grid .cards4 .huita {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 135%;
  color: #ffffff;
  margin-bottom: 15px;
}
.blue-block .cards-grid .cards1 a:hover,
.blue-block .cards-grid .cards2 a:hover,
.blue-block .cards-grid .cards3 a:hover,
.blue-block .cards-grid .cards4 a:hover {
  border-bottom: 1px solid #ffc41e;
  color: #ffc41e;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.yellow-block {
  background-color: #ffc41e;
  padding-top: 75px;
  padding-bottom: 75px;
}
.yellow-block .yellow-content {
  margin-left: 405px;
  height: 830px;
  width: 1150px;
}
.yellow-block .yellow-content .yellow-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.yellow-block .yellow-content .yellow-top .yellow-text {
  margin-left: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 130%;
  /* identical to box height, or 39px */
  letter-spacing: -0.01em;
  /* other / black */
  color: #2e373b;
}
.yellow-block .yellow-content .yellow-top .all-events {
  margin-right: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 130%;
  /* or 27px */
  text-align: right;
  letter-spacing: -0.01em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  /* other / black */
  -ms-flex-item-align: center;
      align-self: center;
  color: #2e373b;
}
.yellow-block .yellow-content .yellow-top .all-events a {
  color: black;
  text-decoration: none;
}
.yellow-block .yellow-content .yellow-grid-parent {
  height: 730px;
  width: 1110px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 348px);
  grid-gap: 40px;
  margin-left: 10px;
}
.yellow-block .yellow-content .yellow-grid-parent .yellow-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.yellow-block .yellow-content .yellow-grid-parent .yellow-grid .yellow-first-text {
  font-family: montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 135%;
  color: #2e373b;
  margin-bottom: 10px;
  margin-left: 0;
  margin-top: 10px;
}
.yellow-block .yellow-content .yellow-grid-parent .yellow-grid .yellow-second-text {
  font-family: montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #f6404f;
  margin-left: 0;
}
.yellow-block .yellow-content .yellow-grid-parent .yellow-grid .yellow-third-text {
  font-family: montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 135%;
  color: #2e373b;
  margin-left: 0;
  margin-top: 10px;
}
.white-block {
  width: 100%;
  height: 650px;
  background-color: #faf3e3;
  padding-top: 75px;
}
.white-block .white-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 125px;
  width: 1111px;
  height: 490px;
}
.white-block .white-content .white-left {
  margin-left: 0;
}
.white-block .white-content .white-left .white-left-second {
  margin-top: 55px;
}
.white-block .white-content .white-right {
  margin-right: 0;
}
.white-block .white-content .white-right .white-right-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.white-block .white-content .white-right .white-right-head .novosti {
  margin-left: 0;
  font-family: roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #2e373b;
}
.white-block .white-content .white-right .white-right-head .vse-novosti {
  font-family: roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 130%;
  text-align: right;
  letter-spacing: -0.01em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2e373b;
  margin-right: 0;
}
.white-block .white-content .white-right .white-right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 492px;
  height: 421px;
}
.white-block .white-content .white-right .white-right-content .white-right-content-blocks {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 2fr);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 421px;
  margin-left: 0;
}
.white-block .white-content .white-right .white-right-content .white-right-content-blocks .white-right-content-blocks-text {
  width: 130%;
}
.white-block .white-content .white-right .white-right-content .white-right-content-blocks .white-right-content-blocks-text .white-right-content-blocks-text1 {
  font-family: montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 135%;
  color: #f6404f;
}
.white-block .white-content .white-right .white-right-content .white-right-content-blocks .white-right-content-blocks-text .white-right-content-blocks-text2 {
  font-family: roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  /* or 27px */
  letter-spacing: -0.01em;
  /* other / black */
  color: #2e373b;
}
